<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>単語を追加: {{ dictionary_name }}</h1>
    <form method="post">
        <label for="word">単語:</label>
        <input type="text" id="word" name="word"><br>

        <label for="meaning">意味:</label>
        <textarea id="meaning" name="meaning"></textarea><br>

        <label for="examples">例文:</label>
        <textarea id="examples" name="examples"></textarea><br>

        <label for="wordgem">WordGem:</label>
        <textarea id="wordgem" name="wordgem"></textarea><br>

        <label for="pronji">PronJi:</label>
        <textarea id="pronji" name="pronji"></textarea><br>

        <label for="alphapron">AlphaPron:</label>
        <textarea id="alphapron" name="alphapron"></textarea><br>

        <button type="submit">保存</button>
    </form>
</body>
</html>
