<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>造語依頼</title>
  </head>
  <body>
    <h1>造語依頼</h1>
    <form method="post">
      <label for="word">単語:</label>
      <input type="text" id="word" name="word">
      <label for="meaning">意味:</label>
      <input type="text" id="meaning" name="meaning">
      <button type="submit">依頼</button>
    </form>
    <footer>
      <p>Google Terms of Use apply</p>
      <p>スペシャルサンクス：SakaDicに支援した方々</p>
    </footer>
  </body>
</html>
